{% extends "base.html" %}
{% block title %}Ganti Password{% endblock %}
{% block content %}
<div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Ganti Password</h3>
              </div>
              <form method="post">
	<div class="form-group p-3">
	{% csrf_token %}
		{{form.as_p}}
		<button class="btn btn-secondary mb-3">Ganti Password</button>
		<ul>
		    <li>Your password can’t be too similar to your other personal information.</li>
			<li>Your password must contain at least 8 characters.</li>
			<li>Your password can’t be a commonly used password.</li>
			<li>Your password can’t be entirely numeric.</li>
		</ul>
	</div>
	</form>
</div>
{% endblock %}