{% extends 'base.html' %}
{% block title %}Edit Settings{% endblock %}
{% block content %}
	<div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Edit Settings</h3>
              </div>
              <form method="post">
                <div class="card-body">
              	{% csrf_token %}
                {{form.as_p}}
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </form>
            </div>
{% endblock %}