{% extends 'base.html' %}
{% block title %}Edit Buku{% endblock %}
{% block content %}
	<div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Edit Buku</h3>
              </div>
              <form method="post" enctype="multipart/form-data">
                <div class="card-body">
              	{% csrf_token %}
                {{form.as_p}}
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Update</button>
                  <button name='hapus' value='delete' type="submit" class="btn btn-info">Update and Change Photo</button>
                </div>
              </form>
            </div>
            <script>
                let body_card = document.querySelector('.card-body');
                let  img_url = document.querySelector('label[for="id_foto_buku"]').nextSibling.nextSibling.getAttribute('href');
                let img = document.createElement('img');
                img.setAttribute('src', img_url);
                img.setAttribute('width', 150);
                img.setAttribute('height', 150);
                body_card.appendChild(img);
            </script>
{% endblock %}